* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#root {
  width: 100%;
}
.container {
  width: 800px;
  margin: 15px auto;
  padding: 15px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
  background-color: rgb(233, 233, 231);
}
.wrapper {
  display: flex;
  padding-top: 15px;
  border-top: 1px solid rgb(151, 150, 150);
}
h1 {
  text-align: center;
  margin-bottom: 15px;
}
h1 span {
  font-weight: normal;
  font-size: 25px;
}
@media only screen and (max-width: 992px) {
  .container {
    width: 420px;
  }
  .wrapper {
    justify-content: center;
  }
  .lds-spinner {
    margin: 60px 60px;
  }
  h1 {
    font-size: 25px;
  }
}

